

.carte{
    width: 25%;

}

.carte:hover {
  transform: scale(110%);
  transition-duration: 0.2s;

}

.block_cart{
   flex-wrap: wrap;
   gap: 70px;
}

@media screen and (max-width:  767px){
  .block_cart{
    flex-direction:column;
    align-items: center;
    gap:0;
  }
  .carte{
    width: 80%;
    margin-bottom: 40px;
  }
}

