

h2{
    margin-bottom: 70px ;
}
.block_cart{
  display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   gap: 50px;
    width: 100%;
}

.img_carte{
    width: 80%;
}

main{
    width: 90%;
}
.border_grade{
    border-color: #000000;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
}
.grade{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 30px ;
    width: 100%;
}
.carte{
    margin:0px 25px ;
}
