


img{
    width: 400px;
}

main{
    margin: 50px;
}

.description_principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description{
    width: 100%;
    margin: 50px 0px 0px 50px;
}